// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

main {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(">tablet") {
    flex: 0 0 85%;
  }

  @include media(">desktop") {
    flex: 0 0 75%;
  }

  @include media(">big-desktop") {
    flex: 0 0 65%;
  }
}

// repository 'page'

.repository-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;

  @include media(">tablet") {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  @include media(">desktop") {
    flex-direction: row;

    justify-content: space-evenly;
  }
}
//search result 'page'

// .searchresult-container {
//   flex: 1;
//   display: none;

//   @include media(">desktop") {
//     display: flex;
//     justify-content: center;
//   }
// }
