:root {
  --color-background-dark-shade: #5b7c99;
  --color-secondary: #f37f19;
  --color-secondary-dark: #d5690b;
  --color-secondary-light: rgba(243, 127, 25, 75%);
  --color-accent-1: #034f77;
  --color-accent-3: #25aef8;
  --color-accent-3-dark: #0790da;
  --color-accent-2: #103888;
  --border-gradient: linear-gradient(125deg, var(--color-accent-1) 0%, var(--color-accent-2) 50%, var(--color-accent-3) 100%);
  --background-gradient: linear-gradient(to right bottom, var(--color-background-dark-1) 0%, var(--color-background-dark-2) 100%);
  --border-radius: 1rem;
}

:root[data-theme=light] {
  --color-primary: #011018;
  --color-text-primary: #011018;
  --color-accent-1-light: #022f47;
  --color-accent-1-dark: #25aef880;
  --color-accent-3: #25aef8;
  --color-background-dark-1: #e2eaf4;
  --color-background-dark-2: #98b7d7;
}

:root[data-theme=dark] {
  --color-primary: #d3e0ee;
  --color-text-primary: #d3e0ee;
  --color-accent-1-light: #25aef880;
  --color-accent-1-dark: #022f47;
  --color-background-dark-1: #022537;
  --color-background-dark-2: #011018;
}

* {
  margin: 0;
  padding: 0;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/**
 * Set up a decent box model on the root element
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-image: var(--background-gradient);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 2rem 2rem;
}

main {
  margin-top: 10rem;
}

ul {
  list-style: none;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  color: inherit;
  background-color: transparent;
}

option {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: inherit;
  background-color: var(--color-accent-1);
}

a {
  color: inherit;
  text-decoration: inherit;
}

.link--block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.link--block:hover, .link--block:active {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
}

/**
 * Basic typography style for copy text
 */
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: var(--color-text-primary);
  font-size: 1.6rem;
}

.heading-secondary,
.heading-tertiary {
  background: -o-linear-gradient(325deg, var(--color-accent-1) 0%, var(--color-accent-3) 100%);
  background: linear-gradient(125deg, var(--color-accent-1) 0%, var(--color-accent-3) 100%);
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  text-transform: capitalize;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.info-message {
  text-align: center;
}

nav {
  padding: 2rem;
  z-index: 99;
  position: fixed;
  background-image: var(--background-gradient);
  top: 0rem;
  left: 0rem;
  right: 0rem;
}

nav.nav--sticky {
  position: fixed;
  background-image: var(--background-gradient);
  top: 0rem;
  left: 0rem;
  right: 0rem;
}

.navigation-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 1025px) {
  .navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}

.repository {
  margin-bottom: 4rem;
}
.repository > * {
  margin-bottom: 2rem;
}
.repository__header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: solid 2px transparent;
  -o-border-image: -o-linear-gradient(left, var(--color-accent-1), var(--color-accent-3)) 1;
     border-image: -webkit-gradient(linear, left top, right top, from(var(--color-accent-1)), to(var(--color-accent-3))) 1;
     border-image: linear-gradient(90deg, var(--color-accent-1), var(--color-accent-3)) 1;
  padding-bottom: 1rem;
}
.repository__title {
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.repository__link {
  display: inline-block;
}
.repository__icon {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--color-secondary);
  margin-right: 0.8rem;
  font-size: 1.2rem;
  display: block;
}
@media (min-width: 901px) {
  .repository__icon {
    height: 3rem;
    width: 3rem;
  }
}
.repository__icon-small {
  fill: var(--color-accent-1-light);
}
.repository__link:hover, .repository__link:active {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}
.repository__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (min-width: 901px) {
  .repository__stats {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.repository__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-clip: padding-box;
  background: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
  position: relative;
}
.repository__block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit;
  border: solid 2px transparent;
  background: var(--border-gradient) border-box;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
  -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
          mask: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff)) padding-box, -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff));
          mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
          mask-composite: destination-out;
  -webkit-mask-composite: xor;
          mask-composite: exclude;
}
@media (min-width: 901px) {
  .repository__block {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 4rem;
    gap: 2rem;
  }
}
.repository__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}
.repository__element :not(:last-child) {
  margin-right: 0.5rem;
}
.repository__stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: solid 1px var(--color-accent-1);
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.repository__stat:not(:last-child) {
  margin-right: 0.8rem;
}
@media (min-width: 901px) {
  .repository__stat:not(:last-child) {
    margin-right: 4rem;
  }
}
.repository__languages {
  width: 80%;
  height: 5rem;
}
@media (min-width: 901px) {
  .repository__languages {
    width: 50%;
  }
}
.repository__language {
  display: none;
}
@media (min-width: 901px) {
  .repository__language {
    display: unset;
  }
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 901px) {
  .sidebar {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media (min-width: 1025px) {
  .sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}
@media (min-width: 1451px) {
  .sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
@media (min-width: 901px) {
  .sidebar > *:not(:last-child) {
    margin-right: 5rem;
  }
}
@media (min-width: 1025px) {
  .sidebar > *:not(:last-child) {
    margin-right: 0;
  }
}
.sidebar__item {
  margin-bottom: 4rem;
}
@media (min-width: 1025px) {
  .sidebar__item {
    margin-bottom: 2rem;
  }
}
.sidebar__item-activities {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.sidebar__item-issues {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.sidebar__item > .heading-tertiary {
  text-align: center;
  margin-bottom: 1rem;
}
.sidebar__item > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.25rem 0;
  position: relative;
  border-bottom: 1px solid transparent;
}
.sidebar__item > ul > li:not(:last-child)::after {
  content: "";
  -o-border-image: var(--border-gradient) 2;
     border-image: var(--border-gradient) 2;
  border-bottom: 1px solid;
  bottom: 0;
  opacity: 50%;
  width: 50%;
  position: absolute;
  right: 25%;
}

.main-content {
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 901px) {
  .main-content {
    margin-bottom: 8rem;
    width: 100%;
  }
}
@media (min-width: 1025px) {
  .main-content {
    padding-right: 4rem;
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    width: 50%;
  }
}
button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.btn {
  border: 1px solid var(--color-accent-1-light);
  border-radius: 1rem;
  padding: 0.1rem 1rem;
  position: relative;
  overflow: hidden;
  color: currentColor;
}
.btn::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  border-radius: inherit;
  background: var(--background-gradient);
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn:not(.btn--disabled):hover, .btn:not(.btn--disabled):active {
  border-color: var(--color-accent-3);
}
.btn:not(.btn--disabled):hover::after, .btn:not(.btn--disabled):active::after {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.btn:not(.btn--disabled):hover > *, .btn:not(.btn--disabled):active > * {
  fill: var(--color-primary);
}
.btn--disabled {
  opacity: 30%;
  cursor: default;
}

.searchbar-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (min-width: 1025px) {
  .searchbar-container {
    margin: auto;
    position: absolute;
    left: 50%;
    width: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.searchbar-container--home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.searchbar-container--home > form {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
.searchbar-container--home > .search {
  border-radius: 1rem;
  border: 1px solid var(--color-accent-1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: auto;
}
.searchbar-container--home > .search > .search__input {
  opacity: 1;
  font-size: 1.8rem;
  width: 100%;
}

.search {
  --size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(var(--size) + 4px);
  width: calc(var(--size) + 4px);
  position: relative;
  -webkit-transition: width 0.4s ease-out;
  -o-transition: width 0.4s ease-out;
  transition: width 0.4s ease-out;
  overflow: hidden;
}
@media (min-width: 1025px) {
  .search {
    border-radius: 1rem;
    border: 1px solid var(--color-accent-1);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    width: auto;
    padding: 0.5rem;
  }
}
.search__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: var(--color-text-primary);
  background-color: transparent;
  border: none;
  padding: 0 1rem;
  position: absolute;
  top: 0;
  bottom: 0;
  outline: 0;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
  font-size: 1.6rem;
  text-align: center;
}
@media (min-width: 1025px) {
  .search__input {
    opacity: 1;
    position: relative;
    cursor: initial;
    font-size: 1.8rem;
  }
}
.search__input::-webkit-input-placeholder {
  color: currentColor;
  opacity: 50%;
  text-align: center;
}
.search__input::-moz-placeholder {
  color: currentColor;
  opacity: 50%;
  text-align: center;
}
.search__input:-ms-input-placeholder {
  color: currentColor;
  opacity: 50%;
  text-align: center;
}
.search__input::-ms-input-placeholder {
  color: currentColor;
  opacity: 50%;
  text-align: center;
}
.search__input::placeholder {
  color: currentColor;
  opacity: 50%;
  text-align: center;
}
.search__icon {
  width: var(--size);
  height: var(--size);
  fill: var(--color-primary);
}
.search__icon:hover, .search__icon:active {
  fill: var(--color-accent-3);
}
.search__button {
  margin-left: auto;
  cursor: pointer;
  z-index: 15;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 2px;
}
@media (min-width: 1025px) {
  .search__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.search:focus-within {
  width: 100%;
  border-radius: 1rem;
  border: 1px solid var(--color-accent-1-light);
  z-index: 5;
  background-image: var(--background-gradient);
}
.search:focus-within .search__input {
  opacity: 1;
  width: calc(100% - var(--size));
  cursor: initial;
}
@media (min-width: 1025px) {
  .search:focus-within {
    background-image: initial;
  }
}

.chart {
  width: 100%;
  height: 100%;
}
@media (max-width: 1023px) {
  .chart canvas {
    width: 100% !important;
    height: 100% !important;
  }
}
.chart__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.chart__info {
  position: relative;
}
.chart__info-icon {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--color-secondary-light);
}
.chart__info-icon:hover + .chart__info-message, .chart__info-icon:active + .chart__info-message {
  opacity: 1;
}
.chart__info-message {
  font-size: 1.2rem;
  font-weight: 300;
  opacity: 1;
  border: 1px solid var(--color-secondary-light);
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 2rem;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  opacity: 0;
}

.open-issues__item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.open-issues__user-image {
  display: block;
  border-radius: 50%;
  background-color: var(--color-accent-1);
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}
.open-issues__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.open-issues__title {
  margin-bottom: 1rem;
}
.open-issues__description {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 1rem;
}
.open-issues__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.open-issues__tags {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.4rem;
}
@media (min-width: 901px) {
  .open-issues__tags {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.open-issues__tag {
  border: solid 1px var(--color-accent-2);
  border-radius: 1rem;
  padding: 0.1rem 0.4rem;
  display: inline-block;
  margin-bottom: 1rem;
}
.open-issues__tag:not(:last-child) {
  margin-right: 1rem;
}
.open-issues__tag:hover, .open-issues__tag:active {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  cursor: pointer;
}
.open-issues__dates {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: end;
  font-size: 1.2rem;
  font-weight: 200;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.activities__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
.activities__user-image {
  border-radius: 50%;
  background-color: var(--color-accent-1);
  width: 3rem;
  height: 3rem;
}
.activities__name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.activities__type {
  color: var(--color-background-dark-shade);
  font-weight: 400;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.activities__date {
  font-size: 1.2rem;
  font-weight: 200;
  text-align: end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.searchresult {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 901px) {
  .searchresult {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%;
  }
}
@media (min-width: 1025px) {
  .searchresult {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 65%;
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}
.searchresult__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 901px) {
  .searchresult__info {
    margin-bottom: 4rem;
  }
}
.searchresult__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid transparent;
  margin-bottom: 1rem;
  gap: 4rem;
  cursor: pointer;
}
.searchresult__item:not(:last-child)::after {
  content: "";
  -o-border-image: var(--border-gradient) 2;
     border-image: var(--border-gradient) 2;
  border-bottom: 1px solid;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.searchresult__item > * > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
@media (min-width: 901px) {
  .searchresult__item {
    margin-bottom: 2rem;
  }
}
.searchresult__item-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.searchresult__item-right {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
          flex: 0 0 15%;
}
.searchresult__title {
  font-weight: 500;
  font-size: 1.8rem;
}
.searchresult__description {
  font-weight: 300;
}
.searchresult__repository-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding-bottom: 1.5rem;
}
@media (min-width: 901px) {
  .searchresult__repository-info {
    padding-bottom: 2rem;
  }
}

.repository__icon--big {
  width: 4rem;
  height: 4rem;
}

.pagination {
  --background-gradient: linear-gradient(45deg, rgba(37, 174, 248, 30%) 0%, rgba(3, 79, 119, 30%) 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
  padding: 0.1rem 1rem;
}
.pagination__current-page {
  font-size: 1.2rem;
  word-spacing: 0.2rem;
  font-weight: 300;
}
.pagination__next::after {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.pagination__icon {
  display: block;
  width: 2rem;
  height: 2rem;
  fill: #25aef8;
  margin: auto;
}

.dropdown {
  background-color: inherit;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  right: 0;
  top: 3rem;
}
.dropdown--mobile:hover + .dropdown > .dropdown__list, .dropdown--mobile:active + .dropdown > .dropdown__list {
  display: block;
  opacity: 1;
  pointer-events: all;
}
.dropdown--mobile > .dropdown__icon {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-primary);
}
@media (min-width: 901px) {
  .dropdown--mobile {
    display: none;
  }
}
@media (min-width: 901px) {
  .dropdown {
    top: -0.5rem;
  }
}
.dropdown__list {
  border: 1px solid var(--color-accent-1);
  border-radius: 1rem;
  display: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background-image: var(--background-gradient);
}
@media (min-width: 901px) {
  .dropdown__list {
    display: block;
  }
}
.dropdown:hover .dropdown__list, .dropdown:active .dropdown__list {
  display: block;
  opacity: 1;
  pointer-events: all;
}
.dropdown__default {
  padding: 0 1rem;
}
.dropdown__label {
  display: none;
}
@media (min-width: 901px) {
  .dropdown__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border: 1px solid var(--color-accent-1);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
  }
}
.dropdown__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
}
.dropdown__item {
  text-align: end;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.dropdown__item:hover, .dropdown__item:active {
  background-color: var(--color-accent-3);
  color: var(--color-background-dark-2);
}
.dropdown__item--selected {
  color: var(--color-accent-3);
}
.spinner {
  margin: 5rem auto;
  text-align: center;
}
.spinner svg {
  fill: var(--color-accent-3);
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
}
.spinner--normal svg {
  height: 4rem;
  width: 4rem;
}
.spinner--big svg {
  height: 6rem;
  width: 6rem;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@media (min-width: 1025px) {
  .menu {
    margin-left: auto;
    margin-right: 5rem;
  }
}
.menu__button {
  z-index: 2;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__button > * {
  --width: 2.5rem;
  width: var(--width);
  height: 2px;
  background-color: var(--color-primary);
  position: absolute;
  top: 0;
  right: var(--width);
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.menu__button > :nth-child(1) {
  -webkit-transform: translateY(-1rem);
      -ms-transform: translateY(-1rem);
          transform: translateY(-1rem);
}
.menu__button > :nth-child(3) {
  -webkit-transform: translateY(1rem);
      -ms-transform: translateY(1rem);
          transform: translateY(1rem);
}
.menu__button--open > :nth-child(1) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.menu__button--open > :nth-child(2) {
  display: none;
}
.menu__button--open > :nth-child(3) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media (min-width: 1025px) {
  .menu__button {
    display: none;
  }
}
.menu__darkmode-btn {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}
.menu__darkmode-btn:hover > .menu__darkmode-icon, .menu__darkmode-btn:active > .menu__darkmode-icon {
  fill: var(--color-secondary-dark);
}
.menu__darkmode-btn:hover > .menu__darkmode-icon--dark, .menu__darkmode-btn:active > .menu__darkmode-icon--dark {
  fill: var(--color-accent-3-dark);
}
.menu__darkmode-icon {
  width: 2.5rem;
  height: 2.5rem;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.05, 0.91, 0.39, 1.52);
  transition: -webkit-transform 0.4s cubic-bezier(0.05, 0.91, 0.39, 1.52);
  -o-transition: transform 0.4s cubic-bezier(0.05, 0.91, 0.39, 1.52);
  transition: transform 0.4s cubic-bezier(0.05, 0.91, 0.39, 1.52);
  transition: transform 0.4s cubic-bezier(0.05, 0.91, 0.39, 1.52), -webkit-transform 0.4s cubic-bezier(0.05, 0.91, 0.39, 1.52);
}
.menu__darkmode-icon--light {
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  fill: var(--color-secondary);
}
.menu__darkmode-icon--dark {
  fill: var(--color-accent-3);
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
.menu__darkmode-icon--active {
  opacity: 1;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.menu__content {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
  font-size: 2rem;
  background-image: var(--background-gradient);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10rem;
  gap: 1rem;
  -webkit-transition: translate 1s ease-in;
  -o-transition: translate 1s ease-in;
  transition: translate 1s ease-in;
  display: none;
}
@media (min-width: 1025px) {
  .menu__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: relative;
    height: initial;
    background-image: initial;
    padding: initial;
    gap: 5rem;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.menu__content--open {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.menu__links > *:hover, .menu__links > *:active {
  color: var(--color-accent-3);
  cursor: pointer;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 901px) {
  main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
  }
}
@media (min-width: 1025px) {
  main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
}
@media (min-width: 1451px) {
  main {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 65%;
            flex: 0 0 65%;
  }
}

.repository-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (min-width: 901px) {
  .repository-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (min-width: 1025px) {
  .repository-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}/*# sourceMappingURL=main.css.map */