.activities {
  &__item {
    display: flex;
    align-items: center;
    gap: 2rem;
    // text-align: end;
  }

  &__user-image {
    border-radius: 50%;
    background-color: var(--color-accent-1);
    width: 3rem;
    height: 3rem;
  }

  &__name {
    flex: 1;
  }

  &__type {
    color: var(--color-background-dark-shade);
    font-weight: 400;
    flex: 1;
  }
  &__date {
    font-size: 1.2rem;
    font-weight: 200;
  }
}
