.chart {
  width: 100%;
  height: 100%;

  //without this the chart doesnt grow again after shrinking
  & canvas {
    @include media("<desktop") {
      width: 100% !important;
      height: 100% !important;
    }
  }
}
