.searchresult {
  display: flex;
  flex-direction: column;

  @include media(">tablet") {
    flex-basis: 75%;
  }

  @include media(">desktop") {
    display: flex;
    justify-content: center;
    width: 65%;
    flex-basis: 65%;
  }

  &__info {
    display: flex;
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 2rem;
    position: relative;
    justify-content: space-between;

    @include media(">tablet") {
      margin-bottom: 4rem;
    }
  }

  &__item {
    display: flex;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid transparent;
    margin-bottom: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
    cursor: pointer;

    &:not(:last-child)::after {
      content: "";
      @include border-bottom-gradient;
      width: 100%;
      position: absolute;
    }

    & > * > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @include media(">tablet") {
      margin-bottom: 2rem;
      gap: 4rem;
    }

    &-left {
      flex: 1;
    }

    &-right {
      align-self: center;
      flex: 0 0 15%;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 1.8rem;
  }
  &__description {
    font-weight: 300;
  }

  &__repository-info {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.5rem;

    @include media(">tablet") {
      padding-bottom: 2rem;
      gap: 4rem;
    }
  }
}

.repository__icon--big {
  width: 4rem;
  height: 4rem;
}
