.spinner {
  margin: 5rem auto;
  text-align: center;

  svg {
    fill: var(--color-accent-3);
    animation: rotate 2s infinite linear;
  }

  &--normal {
    svg {
      height: 4rem;
      width: 4rem;
    }
  }

  &--big {
    svg {
      height: 6rem;
      width: 6rem;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
