.main-content {
  margin-bottom: 4rem;

  @include media(">tablet") {
    margin-bottom: 8rem;
  }

  @include media(">desktop") {
    padding-right: 4rem;
  }

  @include media(">big-desktop") {
  }
}
