nav {
  padding: 2rem;

  z-index: 99;
  position: fixed;
  background-image: var(--background-gradient);
  top: 0rem;
  left: 0rem;
  right: 0rem;
}

nav.nav--sticky {
  position: fixed;
  background-image: var(--background-gradient);
  top: 0rem;
  left: 0rem;
  right: 0rem;
}

.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(">desktop") {
    display: flex;
    align-items: center;
    position: relative;
  }
}

.nav--sticky {
}
