.sidebar {
  display: flex;
  flex-direction: column;

  @include media(">tablet") {
    flex-direction: row;
  }

  @include media(">desktop") {
    flex-direction: column;
    margin: 0;
    flex-basis: 40%;
  }

  @include media(">big-desktop") {
    flex-direction: column;
    flex-basis: 25%;
  }

  & > *:not(:last-child) {
    @include media(">tablet") {
      margin-right: 5rem;
    }
    @include media(">desktop") {
      margin-right: 0;
    }
  }

  &__item {
    margin-bottom: 4rem;
    // flex: 1;

    @include media(">desktop") {
      margin-bottom: 2rem;
    }

    &-activities {
      order: 1;
    }

    &-issues {
      order: 2;
    }
  }

  &__item > .heading-tertiary {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__item > ul > li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 0;
    position: relative;
    border-bottom: 1px solid transparent;

    &:not(:last-child)::after {
      content: "";
      @include border-bottom-gradient;
      opacity: 50%;
      width: 50%;
      position: absolute;
      right: 25%;
    }
  }
}
